---
import '../styles/global.css';
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Laguna Studio Code | Engineering First</title>
        <meta name="description" content="A collective of senior engineers building experimental software, robust platforms, and digital experiences." />
	</head>
	<body class="bg-space-black text-space-grey overflow-x-hidden">
		<slot />
	</body>
</html>
